<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.qtec.homestay">


    <!--友盟集成-->
    <uses-sdk android:minSdkVersion="8"></uses-sdk>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <!-- 允许程序开机自动运行 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <!-- 获取网络信息状态，如当前的网络连接是否有效 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 获取当前WiFi接入的状态以及WLAN热点的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 访问电话状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 访问网络连接，可能产生GPRS流量 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 改变配置，允许当前应用改变配置，如定位 -->
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <!-- 挂载文件系统，挂载、反挂载外部文件系统 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <!-- 改变WiFi状态 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!-- 允许振动 -->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <!--  -->
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"/>
    <!-- 写入外部存储，允许程序写入外部存储，如SD卡上写文件 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 录制声音 通过手机或耳机的麦克 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <!-- 读取系统底层日志 logcat日志保存-->
    <uses-permission android:name="android.permission.READ_LOGS"/>

    <!-- 获取任务信息，允许程序获取当前或最近运行的应用 -->
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <!-- 显示系统窗口 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <!-- 拍照权限，允许访问摄像头进行拍照 -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- 拍照权限，闪光灯 -->
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <!-- 唤醒锁定，允许程序在手机屏幕关闭后后台进程仍然运行 -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!-- 修改声音设置信息 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <!-- 拨出电话的权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <!--蓝牙权限-->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <!--获取通讯录权限-->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <!--摄像头权限-->
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-feature android:name="android.hardware.camera2"/>
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true"/>

    <application
        android:name=".AndroidApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.login.login.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">

        </activity>
    </application>

</manifest>